.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body {
  align-items: center;
  background-color: white !important;
  color: #333;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  justify-content: center;
  text-align: center;
}

.WeatherCard {
  height: 100vh;
  transition: all 0.3s ease-in-out;
  width: 100vw;
}

.widget {
  height : 100%;
  width : 100%;
  margin : 0;
  padding : 20px;
  background-color: white !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(0, 0, 0, 0.23);
  display : inline-block;
  border-radius: 0.5rem;
}

.inline-input {
  align-items: flex-start;
  border-bottom: 1px dotted #405C5A;
  display: flex;
  margin: 0.5rem 0 1.5rem 0;
}

.inline-input:focus-within {
  border-bottom: 1px dotted #405C5A;
  transition: all 0.3s ease-in-out;
}

.inline-input .mdi-icon {
  color: #405C5A;
  padding: 0.2rem 0.5rem 0 0;
}

.location-input {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  color: #405C5A;
  font-size: 1.5rem;
  max-width: 16rem;
  outline: none;
  padding-bottom: 0.3rem;
}

.main-display {
  align-items: flex-start;
  display: flex;
  flex-start: start;
  margin: 2rem 0 2rem 0;
}

.main-info {
  align-items: flex-start;
  display: flex;
  flex-start: start;
  order: 0;
}

.temp-measurement {
  color: #405C5A;
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.85;
}

.temp-unit {
  vertical-align: top;
}

.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 0 0.8rem;
  order: 1;
}

.loading-text {
  text-align: center;
  color: #405C5A;
}

.sub-info-title {
  font-size: 1.15rem;
  margin: 0 0 0.3rem 0;
  text-align: start;
  color : #405C5A;
}

.sub-info-text {
  font-size: 0.7rem;
  color: #405C5A;
  margin: 0 0 0.4rem 0;
  text-align: start;
}

.sub-info-text .max-temp {
  /*     font-weight: 700; */
  margin: 0 0.5rem 0 -0.1rem;
}

.selection-panel {
  margin: 1rem 0 1rem -0.6rem;
}

.selection-row {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0.2rem 0 0 0;
  flex-direction: row;
}

.selection-days {
  color: #405C5A;
  font-size: 0.7rem;
  font-weight: 700;
  width: 3.5rem;
}

.selection-weather {
  color: #405C5A;
  font-size: 0.7rem;
  width: 3.5rem;
}

.selection-icons {
  color: #405C5A;
  font-size: 1.7rem;
  width: 3.5rem;
}

.title-icon {
  padding-bottom : '8%';
}

.selected {
  color: #D7A310;
  transition: all 0.3s ease-in-out;
}

.cloudy {
  background-color: 'white'
  /* background-image: linear-gradient(0deg, #bbdefb, #2196f3); */
}

.clear {
  background-color: 'white'

  /* background-image: linear-gradient(0deg, #b3e5fc, #29b6f6); */
}

.snow {
  background-color: 'white'

  /* background-image: linear-gradient(0deg, #b2ebf2, #26c6da); */
}

.rain {
  background-color: 'white'

  /* background-image: linear-gradient(0deg, #c5cae9, #5c6bc0); */
}

.thunderstorm {
  background-color: 'white'

  /* background-image: linear-gradient(0deg, #e0e0e0, #757575); */
}
